@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Georgia, Tbilisi<br />
    <abbr title="Phone"></abbr>
    +995 558 042 800
</address>

<address>
    <strong>Email:</strong> <a href="mailto:davidchkhitunidze@gmail.com">davidchkhitunidze@gmail.com</a>
</address>
